@charset "UTF-8";
/* CSS Document */

.bottom {
	background-color:#F0F;
	height: 4.5rem;
	margin-bottom: 1.5rem
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.social li a,
.social li a:link,
.social li a:visited {
	display: inline-block;
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 1rem;
	text-align: center;
	padding-top: 0.8125rem;
	border-radius: 50%;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	
	color: #fff;
}