/*
  Colour Palette
  - Dark Blue: #009 - rgb(0,0,153)
  - Teal: #09C - rgb(0,153,204)
  - Neon Teal: #0CC - rgb(0,204,204)
  - Light Neon: #0FC - rgb
  - Grey: #666 - rgb(102,102,102)
 */

@charset "UTF-8";
/* CSS Document */


.masthead {
	height: 30rem;
	margin-top: 1.5rem;
	width: 100%;
	background-color: #F0F0F0;
}

.logo {
	width: 20%;
	float: left;
	margin-top: 0.5rem;
}

.nav {
	overflow: hidden;
	display: inline-block;
	background-color: F0F0F0;
}

.nav li{
	margin: 2rem;
	display: inline-block;
}
