/*
  Colour Palette
  - Dark Blue: #009 - rgb(0,0,153)
  - Teal: #09C - rgb(0,153,204)
  - Neon Teal: #0CC - rgb(0,204,204)
  - Light Neon: #0FC - rgb
  - Grey: #666 - rgb(102,102,102)
 */

@charset "UTF-8";
/* CSS Document */


.masthead {
	height: 7rem;
	margin-top: 1.5rem;
	width: 100%;
	background-color: FAFAFA;
	background-image: url(../assets/light_noise_diagonal.png);
}

.logo {
	width: 15%;
	float: left;
}

.nav {
	display: inline;
	position: inherit;
	float: none;
}