/*
  Colour Palette
  - Dark Blue: #009 - rgb(0,0,153)
  - Teal: #09C - rgb(0,153,204)
  - Neon Teal: #0CC - rgb(0,204,204)
  - Light Neon: #0FC - rgb
  - Grey: #666 - rgb(102,102,102)
 */

@charset "UTF-8";
/* CSS Document */

header {
	width: 100%;
}

.logo {
	width: 50%;
}

nav ul li {
	padding: 1rem;
}

.current {
  opacity: 0.5;
}

.banner {
  background: url("../images/banner.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 10rem 0 1rem 0;
}

.banner-about {
  background-image: url("../images/banner-2.jpg");

}

.banner h2 {
  color: #fff;
}
