/*
  Colour Palette
  - Dark Blue: #009 - rgb(0,0,153)
  - Teal: #09C - rgb(0,153,204)
  - Neon Teal: #0CC - rgb(0,204,204)
  - Light Neon: #0FC - rgb
  - Grey: #666 - rgb(102,102,102)
 */

@charset "UTF-8";
/* CSS Document */

.search {
	position: relative;
}

input[type=search] {
	-webkit-appearance: none;
	appearance: none;
	box-shadow: none;
	height: 2rem;
	border: solid 0.08rem #333031;
	outline: none;
	color: #333031;
	display: block;
	width: 100%;
	box-shadow: none;
	padding: 1rem;
	font-family: 'Roboto', sans-serif;
	background-color: #FFF;
}

::-webkit-input-placeholder {
	color: #333031;
}

::-moz-input-placeholder {
	color: #333031;
}

::-ms-input-placeholder {
	color: #333031;
}

.search-button {
	content: url(../images/search-icon.svg);
	color: #fff;
	position: absolute;
	display: inline-block;
	height: 100%;
	width: 3rem;
	right: 0;
	top: 0;
	background-color: #009;
}