# Accessibility Testing Report

User testing was conducted by Hasan Yavuz on March 31, 2014 between the times of 4:55pm and {end time} with the following participants:

- Evan Grice (Voice Over)
- Mark Collantes (Voice Over)
- Daniela Chavez (Tab)
- Jared Label (Tab)
- Stephen Pollock (Voice Over)
- Chelsey Frohlick (Tab)

## Tasks

1. Toggle to Sweaters page
2. Buy 8-Bomb t-shirt
3. Toggle to a product description page

---

## Individual Results & Observations

### Evan Grice

- All was good.

### Mark Collantes

- All was good.

### Daniela Chavez

- All was good.

### Jared Label

- All was good.

### Stephen Pollock

- All was good.

### Chelsey Frohlick

- All was good.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- None

### Serious, Causes Frustration, May Hinder Completion

- None

### Minor, Annoying, Won’t Hinder Completion

- None
