---
layout: default
showbanner: yes
bannertext: Search Results
---

<div class="grid">

  <div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
  	<a href="{{site.baseurl}}/products/shirt-2/">
    {% include promo-small.html title="Poke-Death" desc="Pokeball Deathstar $17.99" image="shirt-2.jpg" %}
    </a>
  </div>

  <div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
  <a href="{{site.baseurl}}/products/shirt-3/">
    {% include promo-small.html title="Joker" desc="Joker $17.99" image="shirt-3.jpg" %}
  </div>

  <div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
  <a href="{{site.baseurl}}/products/shirt-4/">
    {% include promo-small.html title="Crystaline" desc="Crystaline $17.99" image="shirt-4.jpg" %}
  </div>

</div>
