# User Testing Report

User testing was conducted by Hasan Yavuz on March 24, 2014 between the times of 4:30pm and 5:30pm with the following participants:

- {Evan Grice}
- {Daniela Chavez}
- {Jordan Doe}

## Tasks

1. {Purchase Poke-Death T-Shirt}
2. {Browse all shirts}
3. {Purchase Hipster Fox Hoodie}

---

## Individual Results & Observations

### {Evan}

- He completed all tasks as expected

### {Daniela}

- She completed all tasks as expected
- She asked where my "Checkout" button was located

### {Jared Label}

- He completed all tasks as expected

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Need to fix T-shirts and Sweaters pages

### Serious, Causes Frustration, May Hinder Completion

- Need to change Buy Now and Checkout buttons

### Minor, Annoying, Won’t Hinder Completion

- Make home page look more fancy
- Change banners
- Style to make layout look better
