@charset "UTF-8";
/* CSS Document */

footer {
	background-color:#F0F0F0;
    bottom: 0;
    right: 0;
    left: 0;
	width: 100%;
    height: 80px;
	color: #000;
	overflow: hidden;
	padding-bottom: 1rem;
}

.extra-padding {
    padding-bottom: 13rem;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.social li a,
.social li a:link,
.social li a:visited {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin-top: 1.5rem;
	margin-left: 50%;
	text-align: center;
	padding-top: 1rem;
	border-radius: 50%;
	background-color: #b10000;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;

	color: #fff;
}

.social {
	list-style-type: none;
}

.social li a:hover,
.social li a:active,
.social li a:focus {
	color: #000;
	-webkit-box-shadow: inset 0px 0px 0px 3px #222;
	-moz-box-shadow: inset 0px 0px 0px 3x #222;
	-ms-box-shadow: inset 0px 0px 0px 3px #222;
	-o-box-shadow: inset 0px 0px 0px 3px #222;
	box-shadow: inset 0px 0px 0px 3px #000;
}

.copyright {
	margin-left: 1rem;
}
