---
layout: default
category: category
title: Shirts
showbanner: yes
bannertext: Shirts
meta: Shop graphic shirts
---

<div>
	<p>
	Shop Shirts
	</p>

	<ul class="grid">
		{% for products in site.pages %}
			{% if products.category == 'shirts' %}
			<li class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
				<a href="{{site.baseurl}}{{products.url}}">
				<img src="{{site.baseurl}}/images/{{products.image}}" class="img-flex">
					{{products.name}}
				</a>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
