---
layout: default
category: category
title: Sweaters
showbanner: yes
bannertext: Sweaters
meta: Shop graphic sweaters
---

<div>
	<p>
	Shop Sweaters
	</p>

	<ul class="grid">
		{% for products in site.pages %}
			{% if products.category == 'sweaters' %}
			<li class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
				<a href="{{site.baseurl}}{{products.url}}">
					<img src="{{site.baseurl}}/images/{{products.image}}" class="img-flex">
					{{products.name}}
				</a>
			</li>
			{% endif %}
		{% endfor %}
</div>
